.Container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 60vh;
}

#funcao{
    margin-top: 10px;
    margin-bottom: 10px;
}

.box {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border: 1px solid black;
}

.box header{
    background-color: #000;
    color: #fff;
    padding: 10px;
    text-align: center;
}

.box footer{
    background-color: #000;
    color: #fff;
    padding: 10px;
    text-align: center;
}

.Corpo{
    background-color: beige;
    padding: 10px;
}